<div class="col-md-12 spacer">
  <h4>Create an event!</h4>
  <%= form_for(Event.new) do |f| %>
    <%= f.hidden_field :organization_id, :value => @organization.id %>
    <div class="form-group">
      <%= f.label "Event Name"%>
      <%= f.text_field :name, required: true, class: "form-control", placeholder: "Event Name"%>
    </div>
    <div class="form-group">
      <%= f.label "Event Description"%>
      <%= f.text_field :short_description, required: true, class: "form-control", placeholder: "Quick Tag Line"%>
      <%= f.text_area :long_description, required: true,class: "form-control", placeholder: "Full Description"%>
      <%= f.text_field :image_url, class: "form-control", placeholder: "Image URL"%>
    </div>
    <div class="form-group">
      <%= f.label "Event Location"%>
      <%= f.text_field :address, required: true,class: "form-control", placeholder: "Street addresss"%>
      <%= f.text_field :city, required: true,class: "form-control", placeholder: "City"%>
      <%= f.text_field :state, required: true, class: "form-control", placeholder: "State"%>
      <%= f.text_field :zipcode,  required: true, class: "form-control", placeholder: "Zipcode"%>
    </div>
    <div class="form-group">
      <div>
        <%= f.label "Event Details"%>
      </div>
      <div>
        <%= f.date_select :event_date, prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, start_year: DateTime.now.year, required: true, class: "form-control selectpicker"%>
      </div>
      <%= f.time_select :event_start, required: true,class: "form-control", prompt: { hour: 'Select Start Hour', minute: 'Select Start Minute'}, placeholder: "Start Time"%>
      <%= f.time_select :event_end, required: true,class: "form-control", prompt: { hour: 'Select End Hour', minute: 'Select End Minute'}, placeholder: "End Time"%>
    </div>
    
      <%= f.submit "Create Event", class: "btn btn-landing btn-lg" %>
  <% end %>
</div>