<div class="container-fluid form-container">
  <div class= "row top">
    <h1 class="text-center">Become a registered Socialteering Community Organization</h1>
    <% unless current_user.present? %>
      <div class = "row">
        <h4 class="text-center alarm">You must be a registered user to become an organization</h4>
      </div>
      <% end %>
    </div>
    <div class="row">

    <div class="col-md-5 sign-up-form">
      <h4>Quick register, simply enter your EIN.</h4>
      <p class="notice">We accept all 501(c) organizations.</p>
      <%= form_for(@organization) do |f| %>
        <div class="form-group">
          <%= f.label "EIN"%>
        
          <%= f.text_field :ein, class: "form-control", placeholder: "XXXXXXXXX"%>
          </div>
          <%= f.submit "Register my EIN", class: "btn btn-landing" %>
      <% end %>
    </div>
    <div class="col-md-7 sign-up-form">
      <h4>Request to Become A Socialteering Organization</h4>
      <p class="notice">Add your information the old fashioned way and our team will review your request and get you registerd in no time flat.</p>
      <div class="btn btn-lg btn-landing  center-text col-sm-offset-5 col-sm-2 " id="toggler-btn"> Sign Up</div>
    </div>
  </div>

  <div class="row email_form" id="toggler">
    <h2 class="notice text-center">Request to Become a Registered Organization</h2>
    <%= render "partials/request_organization" %>
  </div>
</div>