<div class="container-fluid top">
  <div class="row contact-info spacer">
    <div class="text-center">
      <h1 class="notice"><%= @organization.name %></h1>
      <h4><%=@organization.description %> </h4>
    </div>
    <div class="style-links center-text">
      <p><em><%= link_to("#{@organization.address}, #{@organization.city} #{@organization.state}, #{@organization.zipcode} ", "https://www.google.com/maps/place/#{@organization.address},+#{@organization.city},+#{@organization.state}+#{@organization.zipcode}" , target: "_blank") %></em></p>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-lg-2 contact-info style-links full-height">
      <h4 class="notice full-height">About:</h4>
      <div>
        <p><%= link_to("Website", @organization.website)%></p>
        <h4><strong><em><%= @organization.description %></em></strong></h4>
      </div>
      <h4 class="notice full-height">Contact Information:</h4>
      <div class="full-height filler ">
        <p><em><%= link_to(@organization.address, "https://www.google.com/maps/place/#{@organization.address},+#{@organization.city},+#{@organization.state}+#{@organization.zipcode}" , target: "_blank") %></em></p>
        <p><em><%= link_to(@organization.city, "https://www.google.com/maps/place/#{@organization.address},+#{@organization.city},+#{@organization.state}+#{@organization.zipcode}" , target: "_blank") %>, <%= link_to(@organization.state, "https://www.google.com/maps/place/#{@organization.address},+#{@organization.city},+#{@organization.state}+#{@organization.zipcode}" , target: "_blank") %> </em></p>
        <p><em><%= link_to(@organization.zipcode, "https://www.google.com/maps/place/#{@organization.address},+#{@organization.city},+#{@organization.state}+#{@organization.zipcode}" , target: "_blank") %></em></p>
        <% if  @organization.email.nil?%>
          <p><em><%= mail_to @organization.user.email, @organization.user.email %></li></em></p>
        <% else %>
          <p><em><%= mail_to @organization.email, @organization.email %></li></em></p>
        <% end %>
           <p><em><%=@organization.phone_number%></em></p><h4 class="notice full-height">Social Information:</h4>
           <p><%= link_to("Facebook", @organization.facebook_url)  %> </p>
           <p><%= link_to("Twitter", @organization.twitter_url)%></p>
            <p><%= link_to("Google Plus", @organization.google_plus_url)%></p>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Upcoming Events</h3>
      <% if @organization.any_events?%>
      <ul class="event-list">
          <%@organization.events.order(:event_date).each do |event| %>
          <%@event = event  %>
          <%= render  'partials/event_lister', locals: {event: @event} %>
          <% end %>
          </ul>
      <% else %>
        <h4>Get started by planning your first event! Fill out the form to the right!</h4>
      <% end %>
    </div>

    <div class="col-md-4 event-create">
      <%= render "partials/new_event" %>
    </div>
  </div>
  <div>
    <% if current_user.present? %>
      <% if current_user.id == @organization.user_id %>
        <div class="row box">
          <div class="text-center">
            <div class="btn btn-lg btn-landing center-text " id="toggler-btn"> Update <%= @organization.name %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div id="toggler">
    <div class="container-fluid">
      <%= render "partials/organization_update" %>
    </div>
  </div>
</div>
