<!DOCTYPE html>
<html>
<head>
  <title>Socialteering</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <%= render "partials/navbar" %>
  </div>
  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-#{name} text-center" %>
    <% end %>
  </div>
<div class="nav-space">
  <%= yield %>
</div>
<%= render "partials/footer" %>
</body>
</html>
